<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head.ejs')%>
  <body>
    <div class="container">
      <h1>Usuários</h1>
      <div class="content">
        <% if (users.length > 0) { %>
        <table>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
          </tr>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.firstName %> <%= user.lastName %></td>
            <td><%= user.email %></td>
          </tr>
          <% }) %>
        </table>
        <% } else { %>
        <p>Não há usuários para exibir</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
